.idea/
node_modules/
src/content_script/keys.json
webExtension/content_script.js
webExtension/popup/popup.js
webExtension/popup/popup.js.css
webExtension/*.woff
webExtension/*.ttf
webExtension/web-ext-artifacts/*
