<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <link href="index.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div id="titleContainer">
      Translate on site.
    </div>

    <div id="info">
      Origin language: English
    </div>

    </hr>

    <div id="selectorContainer">
      <el-select v-model="value" placeholder="Select a target language">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </div>

    </hr>

    <div id="alwaysTranslate">
      <el-checkbox v-model="checked">Always translate {{value}}</el-checkbox>
    </div>

    </hr>

    <div id="actions">
      <span>
        <el-button type="success">Translate</el-button>
      </span>
      <span>
        <el-button type="primary">Original Translation</el-button>
      </span>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
