
@font-face {
  font-family: leagueSpartan;
  src: url('fonts/league-spartan-master/webfonts/leaguespartan-bold.woff2');
}

@font-face {
  font-family: libreBaskerville;
  src: url('fonts/libre-baskerville/LibreBaskerville-Italic.ttf');
}

body {
  padding: 0;
  margin: 0;
}

#titleContainer {
  background-color: #3CA7D2;
  padding: 30px 35px 15px 35px;
  color: #FFFEFD;
}

#titleTranslate {
  font-family: 'leagueSpartan', Georgia, Times, serif;
  line-height: 30px;
  font-size: 38px;
}

#titleOnSight {
  font-family: 'libreBaskerville', Georgia, Times, serif;
  font-size: 27px;
}

#contentContainer {
  padding: 10px 35px 10px 35px;
  background-color: #FFFEFD;
  font-family: "Arial", Arial, sans-serif;
  font-size: 20px;
  color: #808080;
}

#info {
  padding: 10px 0px;
}

#originLanguagePrompt {

}

#originLanguageValue {
  color: #3CA7D2;
}

#selectorContainer {
  padding: 10px 0px;
}

#alwaysTranslate {
  padding: 10px 0px;

}

#actions {
  padding: 10px 0px;

}

#actionOriginal {
  padding: 0px 0px;
}
